@import 'color.styl'
@import 'fonts.styl'
@import 'mixins.styl' 

body
	font-size 16px
	font-family Roboto-Regular

.link 
	color linkColor
	font-size 32px  
.test
	margin 0 auto 
	width 500px
	border 1px solid darkgreen
	height 500px
	padding 20px 20px
	div
		width 450px
		height 100% 
		background rgba(#000,0.5)
		color #fff 
		margin 0 auto 
.slick-next,.slick-prev
	background darkgreen
	margin 0 25px 
	&:hover
		opacity 1
		background darkgreen 
	

@import 'media.styl'