
ls1240 = "screen and (max-width: 1240px)"
ls1024 = "screen and (max-width: 1024px)"
ls768  = "screen and (max-width: 768px)"
ls640  = "screen and (max-width: 640px)"
ls425  = "screen and (max-width: 425px)"
ls375  = "screen and (max-width: 375px)"
ls320  = "screen and (max-width: 320px)"

@media ls1024
	body 
		background #000